@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.button-shadow{
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.48);
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.card-shadow{
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.38);
}

.pricing-card{
  box-shadow: 0px 4px 92px -19px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.entering-card{
  background: rgb(173,234,255);
  background: linear-gradient(81deg, rgba(173,234,255,1) 0%, rgba(113,199,229,1) 100%);
  box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.39);
}

.close-to-enter-card{
  background: rgb(226,192,255);
  background: linear-gradient(60deg, rgba(226,192,255,1) 0%, rgba(203,145,253,1) 100%);
  box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.39);
}

.not-enter-card{
  background: rgb(193,150,255);
  background: linear-gradient(60deg, rgba(193,150,255,1) 0%, rgba(145,80,239,1) 100%);
  box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.39);
}


.last-trade-card{
  background: rgb(145,80,239);
  background: linear-gradient(10deg, rgba(145,80,239,1) 0%, rgba(113,199,229,1) 100%);
  box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.39);
}

.footer{
  box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, 0.171);
}

.circle-bg{
  background: linear-gradient(353.17deg, #FB3DFF -8.3%, #9FCCEC 78.67%);
}

@media (max-width: 586px){

  .blackOverlay{
   background-color: rgba(0, 0, 0, 0.808);
   padding-bottom: 30px;
   top: 0px;
   padding-top: 120px;
}

}